body {
  background-image: url("bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  font-size: 16px;
  height: 100vh;
  display: flex;
  place-items: center;
}
main {
  display: flex;
  margin: auto;
  place-items: center;
  width: 70%;
}
button {
  background-color: hsl(154, 59%, 51%);
  font-weight: 600;
  padding: 1em;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-color: hsl(246, 25%, 77%);
  border-style: solid;
}
* {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: 700;
}
input {
  font-weight: 500;
  border-radius: 5px;
  border-color: hsl(246, 25%, 77%);
  border-style: solid;
  padding: 1em;
  color: hsl(249, 10%, 26%);
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-right: 2em;
  width: 93%;
}
mark {
  color: red;
  background-color: transparent;
}
.terms {
  font-size: 12px;
  color: hsl(246, 25%, 77%);
}
.offer {
  background-color: hsl(248, 32%, 49%);
  color: rgba(255, 255, 255, 1);
  border-radius: 7.5px;
  box-shadow: 0px 7.5px 1px 0px rgba(220, 101, 100, 1);
  padding: 1em;
  text-align: center;
}
.claim {
  border-radius: 7.5px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  padding: 2em;
  text-align: center;
  box-shadow: 0px 7.5px 1px 0px rgba(220, 101, 100, 1);
}
.free {
  background-color: transparent;
  place-items: center;
  padding: 3em;
  color: rgba(255, 255, 255, 1);
}
.l {
  width: 50%;
  background-color: transparent;
}
.r {
  width: 50%;
  background-color: transparent;
  padding: 2em;
}
form {
  justify-content: space-around;
}
button:hover{
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("bg-intro-mobile.png");
  }
  main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    place-items: center;
    padding: 2em;
  }
  .l {
    width: 100%;
  }
  .r {
    width: 100%;
  }
  .free {
    text-align: center;
  }
  .claim{
    display: flex;
  }
  input {
    width: 91%;
  }
}
